# Build outputs
/build
/app/build

# Gradle
.gradle
gradle/wrapper/gradle-wrapper.jar

# Keystore — KABHI GitHub pe push mat karo
keystore/*.jks
keystore/*.keystore

# IDE files
.idea
*.iml
local.properties

# Android Studio
*.class
*.log
*.ap_
*.apk
*.aab
